<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        
        .jumbotron{
            background-color:#0f0f0f;
            height: 200px;
            width: 100%;
            margin-top: 150px;
            padding: 50px;
            
        }
        .tips{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            margin-left: 50vh;
            margin-right: 50vh;
            margin-top: 50px;
        }

    </style>
  </head>
  <body data-bs-theme="dark">

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Earthquake!</h1>
            <p class="lead">Essential first aid tips to help you respond during natural disasters.</p>
        </div>
    </div >

    <div>
        <ul class="list-group list-group-flush tips">
            <li class="list-group-item">
                <button type="button" class="btn btn-info">1</button>
                <span style="color: aqua; font-weight: bold;">Check for Injuries</span>: Once the shaking stops, ensure everyone's safety, then check yourself and others for injuries. Provide first aid as needed and call for medical help if necessary.</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">2</button>
                <span style="color: aqua; font-weight: bold;">Bleeding Control: </span>If you or someone else is bleeding, apply steady, direct pressure using a clean cloth or bandage to control bleeding.</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">3</button>
                <span style="color: aqua; font-weight: bold;">Head and Neck Injuries: </span>Do not move someone who is seriously injured unless they are in immediate danger (like a fire). Stabilize the head and neck of anyone with suspected spinal injuries.</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">4</button>
                <span style="color: aqua; font-weight: bold;">CPR:</span> Administer CPR if the victim is not breathing or has no heartbeat, but only if you are trained to do so.</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">5</button>
                <span style="color: aqua; font-weight: bold;">Shock Treatment:</span> If someone is in shock (pale, cold, and clammy skin, weak pulse), lay them down with their legs elevated unless they’re injured or this causes pain. Keep them warm, comfortable, and reassure them until help arrives.</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">6</button>
                <span style="color: aqua; font-weight: bold;">Avoid Hazards:</span> Be alert for potential hazards like broken glass, sharp objects, or exposed electrical wiring while administering first aid.</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">7</button>
                <span style="color: aqua; font-weight: bold;">Minor Wounds and Burns:</span> Clean minor cuts and wounds with clean water, apply antiseptic, and cover with a sterile bandage. For burns, run cool water over the area and cover with a sterile, non-adhesive bandage.</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">8</button>
                <span style="color: aqua; font-weight: bold;">Monitor and Reassure: </span>Keep talking to the injured person and monitor their condition until medical help arrives.</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">9</button>
                <span style="color: aqua; font-weight: bold;">Fractures and Sprains: </span>Immobilize any suspected fractures by using a splint and keep the injured limb in the same position you found it. Apply ice to sprains to reduce swelling, if available.</li>

            <li class="list-group-item">
                <button type="button" class="btn btn-info">10</button>
                <span style="color: aqua; font-weight: bold;">Eye Injuries:</span> If dust or debris has gotten into the eyes, gently flush with clean water. Do not rub the eyes.e</li>

            <li class="list-group-item">
                <button type="button" class="btn btn-info">11</button>
                <span style="color: aqua; font-weight: bold;">Breathing Issues:</span> If individuals are having trouble breathing due to dust or smoke, help them to move to fresher air if possible. Covering the mouth and nose with a wet cloth can also help.</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">12</button>
                <span style="color: aqua; font-weight: bold;">Avoid Unnecessary Movement: </span>Keep injured individuals still, especially if spine or neck injuries are suspected. Moving them incorrectly could exacerbate injuries.</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">13</button>
                <span style="color: aqua; font-weight: bold;">Debris Removal: </span>If it's safe to do so, carefully lift debris off the injured, being cautious not to cause further injury.</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">14</button>
                <span style="color: aqua; font-weight: bold;">Hydration:</span> Ensure that everyone remains hydrated, especially if trapped for an extended period. Small sips of water can help prevent dehydration</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">15</button>
                <span style="color: aqua; font-weight: bold;">Tool Use: </span>Use tools from a first aid kit, like scissors or tweezers, if necessary, ensuring they are clean to prevent infection.</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">16</button>
                <span style="color: aqua; font-weight: bold;">Shock Identification: </span>Recognize signs of shock, which can include rapid or weak pulse, shallow breathing, or cold, clammy skin, and apply appropriate treatment as previously mentioned.</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">17</button>
                <span style="color: aqua; font-weight: bold;">Plan and Communication:</span> Make a communication plan in advance—know who to contact and how to use any available communication devices effectively.</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">18</button>
                <span style="color: aqua; font-weight: bold;">Emotional Support:</span> Offer comfort and psychological support to those affected by the quake's trauma.</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">19</button>
                <span style="color: aqua; font-weight: bold;">Open Wounds Care:</span> When dealing with open wounds, remove only large pieces of debris that can be managed without disturbing the wound excessively. Avoid removing deeply embedded items, and cover the wound with sterile dressing.</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-info">20</button>
                <span style="color: aqua; font-weight: bold;">Open Wounds Care:</span> When dealing with open wounds, remove only large pieces of debris that can be managed without disturbing the wound excessively. Avoid removing deeply embedded items, and cover the wound with sterile dressing.</li>
          </ul>
    </div>



    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>